/* Navigation Section */

#navbar{
    flex-direction: column;
}
#navbar .nav .navlist{
    font-size: 1rem;
    padding: 10px 7px;
    margin: 0.3rem;
}

/* Home Section */
#home{
    height: 415px;
    padding: 3px 60px;
    margin-bottom: 2rem;
}
#home::before{
    height: 550px;
}
#home p{
    font-size: 20px;
}

/* Services Section */

#services{
    flex-direction: column;
}
#services .box {
    padding: 14px;
    margin: 3px 15px;
    margin-bottom: 9px;
}
#services .box img{
    height: 95px;
    
}
/* Client Section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 100px;
    height: 200px;
    padding: 0px 5px;
}
/* Contact Us for Section */

#contact-box input, #contact-box textarea{
    width: 100%;
    padding: 0.5rem;
}

/* Footer Section */

/* Utility Section */

.h-primary{
    font-size: 1.5rem;
}
.h-secondary{
    font-size: 2.3rem;
}
.btn{
    font: 13px;
    padding: 4px 8px;
}
