@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

/* CSS reset */
* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* logo and image */
#logo {
    margin: 0px 11px;
}

#logo img {
    margin: 12px;
    height: 50px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    font-family: Verdana;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: #73737363;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    top: 0px;
    left: 0px;
}

#navbar .nav {
    display: flex;
}

/* List styling */
#navbar .nav .navlist {
    margin: 0.5rem;
    cursor: pointer;
    list-style: none;
    border: 2px solid #afafaf;
    padding: 0.8rem;
    background-color: #e6e6e6;
    border-radius: 1rem;
}

#navbar .nav .navlist:hover {
    background-color: #6868689c;
    color: white;
}

.nav .navlist a {
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}

/* Home Section */
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 22px;
    height: 500px;
}

#home::before {
    content: "";
    background: url('image/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 550px;
    width: 100%;
    z-index: -1;
    /* opacity: 0.89; */
    top: 0;
    left: 0;
}

#home h1 {
    color: rgb(225, 225, 225);
    text-align: center;
    /* font-size: 3.5rem; */
    font-family: 'Baloo Thambi 2', cursive;

}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

/* Services Section */
#services {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services .box {
    border: 3px solid black;
    margin: 15px;
    padding: 13px;
    border-radius: 20px;
    background-color: rgb(110 110 110 / 35%);
    /* width: 60%; */
    /* height: 460px; */
}

#services .box img {
    height: 155px;
    display: block;
    margin: auto;
}

#services .box h2 {
    color: rgb(61 61 61);
}

#services .box .center {
    font-family: 'Baloo Thambi 2', cursive;
}

/* Clients Section */
#client-section {
    /* height: 400px; */
    position: relative;
    margin: 1.5rem 0;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('image/bg2.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

#clients {
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-item {
    padding: 34px;
}

#clients img {
    height: 200px;
    width: 100%;
}

/* Contact Section */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('image/bg3.jpg') no-repeat center center/cover;
    z-index: -1;
    /* opacity: 0.8; */
    margin: 0.5rem 0;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    margin: 1rem 0 0 0;
}

#contact-box form {
    width: 30%;
    margin: 1.5rem 0;
}

#contact-box label {
    font: bolder;
    color: #673ab7;
    font-size: 1.4rem;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 20px;
    font-size: 1.1rem;
    padding: 15px;
    margin: 5px;
    text-align: center;
}

footer {
    background: black;
    color: white;
    padding: 5px 20px;
}

/* Utility Classes */
.h-primary {
    padding: 1rem;
    font-size: 3.5rem;
    font-family: 'PT Serif', serif;
}

.h-secondary {
    font-size: 2.8rem;
    padding: 12px;
    font-family: unset;
}

.center {
    text-align: center;
}

.back-grey {
    background-color: rgba(91, 91, 91, 0.345);
    color: #000000;
}

@media (max-width: 800px) {
    #contact-box form {
        width: 70%;
    }
}